{
    "extends": "airbnb",
    "plugins": ["jest"],
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true,
      "es6": true,
      "jest/globals": true
    },
    "rules": {
      "max-len": [
        "error", {
            "code": 200
        }
      ],
      "no-debugger": 1,
      "react/prop-types": 0,
      "react/button-has-type": 0,
      "no-shadow": 0,
      "linebreak-style": 0,
      "jsx-a11y/anchor-is-valid": [0],
      "jsx-a11y/label-has-for": [0],
      "jsx-a11y/label-has-associated-control": [ 2, {
        "labelAttributes": ["label"],
        "depth": 3
      }]
    }
  }
  